<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>login</title>
    <style>
        #app{
            width:100vw;
            height:100vh;
            position: relative;
            background:green;
        }
        .loginRegister {
			width: 100vw;
			height: 100vh;
			background: white;
			position: relative;

		}

		.loginRegisterBox {
			width: 50vw;
			height: 30vh;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			background: #cccccc;
			text-align: center;
		}
	</style>
	
</head>
<body>
    <div id="app">
		<div id="login" class="loginRegister" v-show="tologin">
			<div id="loginBox" class="loginRegisterBox">
				<p>
					<input type="text" v-model="username" autocomplete="off">
				</p>
				<p>
					<input type="password" v-model="password">
				</p>
				<div>
					<button @click="login">登录</button>
				</div>
				<p>
					没有账号？去
					<button @click="toRegister">
							注册
					</button>	
				</p>
			</div>
		</div>
		<div id="register" class="loginRegister" v-if="toregister">
			<div id="registerBox" class="loginRegisterBox">
					<p>
							<input type="text" v-model="username">
						</p>
						<p>
							<input type="password" v-model="password">
						</p>
						<div>
							<button @click="register">注册</button>
						</div>
						<p>
							已有账号？去
							<button @click="toLogin">
									登录
							</button>	
						</p>
			</div>
		</div>
		
	</div>
</body>

<script type="text/javascript" src="js/vue.js"></script>
<script type="text/javascript" src="js/jquery.js"></script>
<script type="text/javascript" src="src/loginRegister.js"></script>
</html>